@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;600&display=swap");
.weather-container {
  width: 50%;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  font-family: "Black Han Sans", sans-serif;
}

.weather-container:hover {
  width: 50%;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  font-family: "Black Han Sans", sans-serif;
}

.weather-title img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.weather-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.weatherofcity {
  margin-bottom: 10%;
  font-size: 30px;
}

.weatherofname {
  font-size: 20px;
}
